.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background: white;
  > div {
    > button {
      width: 300px;
      font-weight: 800;
      margin: 2px;
    }
    > .login__signIn {
      background: red;
      color: #eff2f5;
      &:hover {
        background: white;
        color: red;
      }
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    > img {
      object-fit: contain;
      height: 150px;
    }
  }
}
