.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background: white;
  > div {
    > button {
      width: 300px;

      font-weight: 800;
      margin: 2px;
    }
    > .login__signIn {
      background: #2e81f4;
      color: #eff2f5;
    }
  }
  &__signIn:hover {
    background: white;
    color: #2e81f4;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    > img {
      object-fit: contain;
      height: 150px;
    }
  }
}
